.boxes {
    text-align: center;
    display: block;
    margin: 3em;
    padding: 5em;
    border: solid;
    border-radius: 5em;
    
    
}

.image {
    width: 20em;
    height: 25em;
    background-color: azure;
    display:inline-block;
    padding-top: 3em;
    
}

#box1 {
    background-color: antiquewhite;
}

#box2 {
    background-color: floralwhite;
}

#box3 {
    background-color: ghostwhite;
}

#box4 {
    background-color: ivory;
}

body {
    font-family: 'Indie Flower', cursive;
    background-color: lightgrey;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
    cursor: pointer;
    font-weight: bold;
}

span {
    color: blue;
    font-weight: 600;
}

img {
    width: 15em;
    height: 20em;
}