.boxes {
    text-align: center;
    display: inline-block;
    margin: 2em;
    padding: 5em;
    border: solid;
    border-radius: 5em;
}

body {
    font-family: 'Indie Flower', cursive;
    background-color: lightgrey;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
    cursor: pointer;
    font-weight: bold;
}